@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hunter-green: #386641ff;
  --sage-green: #6a994eff;
  --yellow-green: #a7c957ff;
  --vanilla-cream: #f2e8cfff;
  --blushed-brick: #bc4749ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}